<div class="main-content">
    <div class="section__content section__content--p30"> 
        <div class="container-fluid">
            <div class="table-data__tool">    
                    <a href="#" data-toggle="modal" data-target="#modalAppointment" class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>Add Ingénieur/Technicien </a>
            </div>
           {{#if hasEngineers}} 
            <div class="row">
              {{#each clinicalEngineers }}   
                <div class="col-md-4">
                    <div class="card" style="width: auto;">
                        <img class="card-img-top" src="images/{{this.Image}}" alt="Card image cap" style="height: 250px;">
                        <div class="card-body">
                            <div class="card-text">DSSN : <span style="color:#1add00">{{ this.DSSN }}</span></div>
                            <div class="card-text">Nom : <span style="color:#1add00">{{ this.FName }} {{ this.LName }}</span></div>
                            <div class="card-text">Téléphone : <span style="color:#1add00">{{ this.Phone }}</span></div>
                            <div class="card-text">Age : <span style="color:#1add00">{{ this.Age }}</span></div>
                            <div class="card-text">Email : <span style="color:#1add00">{{ this.Email }}</span></div>
                            <div class="card-text">adresse : <span style="color:#1add00">{{ this.Adress }}</span></div>
                            <div class="card-text">Heures de travail : <span style="color:#1add00">{{ this.WorkHours }}</span></div>
                            <div class="card-text">Service : <span style="color:#dd0000">{{ this.DepartmentCode }}</span></div>

                        </div>
                        <div class="table-data-feature">
                            <a href="/technicienEngineer/edit/{{ this.DSSN }}" class="item" data-toggle="tooltip" data-placement="top" title="Modifier">
                                <i class="zmdi zmdi-edit"></i>
                            </a>
                            <a href="/technicienEngineer/delete/{{ this.DSSN }}" class="item" data-toggle="tooltip" data-placement="top" title="Supprimer">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </div>
                    </div> 
                </div>
               {{/each }} 
            </div>
           {{/if }} 
        </div>
    </div>
</div>
        <!-- END PAGE CONTAINER-->
          
<!-- POPUP-->
<div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-body">
            <form method="POST" action="/technicienEngineer/add" enctype="multipart/form-data">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="login-logo">
                    <img src="images/icon/onda_logo.png" width="64" height="64" alt="Cool Admin" /> <strong>ONDA</strong></a>
                </div>
                <div class="login-form">
                                <div class="form-group">
                                    <label class=" form-control-label">DSSN</label>
                                    <input type="text" required name="DSSN" placeholder="Entrez DSSN" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Prénom</label>
                                    <input type="text" required name="FName"  placeholder="Entrez le Prénom " class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Nom</label>
                                    <input type="text" required name="LName" placeholder="Entrez le Nom" class="form-control">
                                </div>
                                  <div class="form-group">
                                    <label class=" form-control-label">Photo</label>
                                    <input type="file" required name="image" placeholder="Choose a photo" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Téléphone</label>
                                    <input type="text" required name="Phone" placeholder="Entrez le Numero de Téléphone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Age</label>
                                    <input type="text"  required name="Age" placeholder="Entrez l'Age" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Email</label>
                                    <input type="email" required name="Email" placeholder="Entrez un Email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">adresse</label>
                                    <input type="text" required name="Address" placeholder="Entrez Votre adresse" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Heures de travail</label>
                                    <input type="text" required name="workHours" placeholder="Entrez l'Heures de travail" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Service</label>
                                    <select name="Department"required id="select" class="form-control">
                                {{#each Departs}}
                                    <option value="{{this.Name}}">{{this.Name}} </option>
                                {{/each}}
                            </select>
                                </div>
                                    <div class="form-group">
                                    <label class=" form-control-label">Mot de passe</label>
                                    <input type="password" required name="Password" placeholder="Entrez un Mot de passe" class="form-control">
                                </div>
                                
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">ADD</button>
                                
                        </div>
                         <script>
                            $(document).ready(function() {
                                $.ajax({
                                    url: '/departments',
                                    method: 'GET',
                                    dataType: 'json',
                                    success: function(data) {
                                        var select = $('#department');
                                        select.empty();
                                        $.each(data, function(index, department) {
                                            select.append('<option value="' + department.Code + '">' + department.Name + '</option>');
                                        });
                                    },
                                    error: function(error) {
                                        console.log("Error fetching departments: ", error);
                                    }
                                });
                            });
                        </script>
            </form>
          </div>  
        </div>
    </div>     
</div>   