<div class="container" style="height: 100%;">
    <div class="card-body card-block" style="height: 100%;">
        <div class="login-content" style="height: 100%;">
            <div class="login-logo">
              
                <img src="images/icon/onda_logo.png" width="64" height="64" alt="Cool Admin" /> <strong>ONDA</strong></a>
            </div>
            <h3 class="title-3 m-b-30">
            <i class="zmdi zmdi-account-calendar"></i>PPM</h3>
            <div class="card-body" style="height: 100%;">
                <!--<div class="card-text">Code: {{order.Code}} </div>-->                            
                <div class="card-text">Device: nom: {{order.EquipmentName}} ,model:{{order.EquipmentModel}} ,Code:{{order.EquipmentCode}} </div>
                <div class="card-text">Date de début: {{order.StartDate}}</div>
                <div class="card-text">Date de fin: {{order.EndDate}}</div>
                <div class="card-text">Date de début & Time: {{order.AdditionalStartDate}}</div>
                <div class="card-text">Date de fin & Time: {{order.AdditionalEndDate}}</div>
                <div class="card-text">Description: {{order.Description}}</div>
                <div class="card-text">Priorité: {{order.Priority}}</div>
                <div class="card-text">Coût: {{order.Cost}} </div>

            </div>
            
            <div class="top-campaign" style="height: 100%;">
                <div class="table-responsive">
                    <table class="table table-top-campaign">
                    </table>   
                </div>
            </div>
                
    </div>
 </div>